body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

#bottom {
    background-color: white !important;
}

.container{
    padding-left: 50px
}
.col1 {
    width: 20%;
    margin-right: 40px;
}
.col2 {
    border: white;
    background: grey;
    width: 75%;
}
.fila {
    display: flex;
    width: 100%;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.footer{
    background-color: #036FAB;
    color: white;
    padding:20px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    font-size: 16px;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color:white;
    transition:0.5s;
}

.footer .row ul{
    width:100%;
}

.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }


}